#auth-container {

  .form-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;

    color: $gray;
    border: 1px solid $lightgray;
    border-radius: 1px;
  }

  h1 {
    color: $gray;
  }

  label {
    font-weight: 300;
  }
}