#auth-container {

  .form-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;

    color: $gray;
    border: 1px solid $lightgray;
    border-radius: 1px;
  }

  h1 {
    color: $gray;
  }

  label {
    font-weight: 300;
  }

  .btn-submit {
    padding: 10px 25px;
    background-color: $red;
    color: $white;
    font-weight: 700;
    text-transform: uppercase;
    border: none;

    transition: all 0.3s ease;
    
    &:hover {
      background-color: $black;
    }
  }
}