.entries-list {
  margin: 20px 40px;

  &::after {
    content:"";
    display:block;
    clear:both;
  }

  .grid-sizer,
  .grid-item {
    width: 23%;
    margin: 0 1% 10px;
    height: 50px;
  }

  .grid-sizer {
    display: none;
  }

  .grid-item {
    display: block;
    float: left;
    background-color: $gray;
  }
}