.entries-list {
  margin: 20px 40px;

  @media all and (max-width: 800px) {
    margin: 20px 20px;
  }
  @media all and (max-width: 600px) {
    margin: 20px 10px;
  }

  &::after {
    content:"";
    display:block;
    clear:both;
  }

  .grid-sizer,
  .grid-item {
    width: 23%;
    margin: 0 1% 20px;
    padding-top: 20%;
    
    @media all and (max-width: 950px) {
      width: 48%;
      padding-top: 40%;
    }
  }

  .grid-sizer {
    display: none;
  }

  .grid-item {
    position: relative;
    display: block;
    float: left;
    background-size: cover;
    background-position: center center;

    a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
  }

  .info {
    position: relative;
    display: block;
    z-index: 2;
    min-height: 35px;
    padding: 5px 10px;
    background-color: $lightgray;
    font-size: 18px;

    .like {
      cursor: pointer;

      &:after {
        display: inline-block;
        font-family: "FontAwesome";
        content: '\f08a';
        padding: 2px;
      }
      &.liked:after {
        font-family: "FontAwesome";
        content: '\f004';
        color: $red;
        animation: pop 0.1s ease;
      }
    }

    .likes {
      float: right;
    }
  }
}

@keyframes pop {
  0% {
    font-size: 18px;
    padding: 2px;
  }
  50% {
    font-size: 20px;
    padding: 0px;
  }
  100% {
    font-size: 18px;
    padding: 2px;
  }
}