#main-nav {
  position: fixed;
  display: block;
  width: 100%;
  z-index: 999;

  background-color: $grey;
  border: none;
  border-radius: 0;

  #nav-logo {
    height: 50px;
  }

  a,
  .active a {
    color: #fff;
  }

  .active a {
    background-color: lighten($grey, 10%) !important;
  }

  .container-fluid {
    padding-left: 40px;
    padding-right: 40px;
  }

  .bg-primary a {
    background-color: $red;
    color: #ffffff;

    &:hover {
      background-color: darken($red, 5%);
    }
  }
}