#main-nav {
  position: fixed;
  display: block;
  width: 100%;
  z-index: 999;

  background-color: $gray;
  border: none;
  border-radius: 0;

  #nav-logo {
    height: 50px;
  }

  a,
  .active a {
    color: #fff;
  }

  .active a {
    background-color: lighten($gray, 10%);
  }
  
  .nav .dropdown {

    &.open > a,
    &.open > a:hover,
    &.open > a:focus {
      background-color: lighten($gray, 10%);
    }

    .dropdown-menu {
      background-color: lighten($gray, 10%);
      border: none;
      border-radius: 0;
        
      a:hover,
      a:focus,
      a.active {
        background-color: lighten($gray, 20%);
      }

      .divider {
        background-color: lighten($gray, 30%);
      }
    }
  }

  .container-fluid {
    padding-left: 40px;
    padding-right: 40px;
  }

  .bg-primary a {
    background-color: $red;
    color: #ffffff;

    &:hover {
      background-color: darken($red, 5%);
    }
  }
}