#notifications {
  display: block;
  width: 100%;

  .notification {
    border-radius: 0;
    opacity: 1;
    cursor: pointer;

    p {
      position: relative;
      display: block;
      margin: 0;
      padding: 10px 20px 10px 20px;

      .btn-close {
        position: absolute;
        top: 10px;
        right: 10px;
        color: $gray;
      }

      @media (max-width: 600px) {
        padding-left: 10px;
      }
    }
  }

  .success {
    color: $success;
    background-color: lighten($success, 50%);

    border-left: 1px solid $success;
    border-bottom: 1px solid $success;
    border-right: 1px solid $success;

    &:first-child {
      border: 1px solid $success;
    }
  }

  .error {
    color: $error;
    background-color: lighten($error, 50%);

    border-left: 1px solid $error;
    border-bottom: 1px solid $error;
    border-right: 1px solid $error;

    &:first-child {
      border: 1px solid $error;
    }
  }

  .info {
    color: $info;
    background-color: lighten($info, 50%);

    border-left: 1px solid $info;
    border-bottom: 1px solid $info;
    border-right: 1px solid $info;
  
    &:first-child {
        border: 1px solid $info;
    }
  }
}