#entries-container {

  header {
    height: 100px;

    .call-to-action {
      top: 50%;
      text-align: center;

      p,
      .btn-cta {
        display: inline-block;
        margin-bottom: 0;
      }

      .btn-cta {
        margin-top: -15px;
        margin-left: 50px;
      }
    }
  }

  .sort-entries {
    text-align: center;
    margin: 30px auto;

    a {
      color: $gray;
      padding: 5px;
      margin: 0 10px;
      font-size: 25px;

      &:hover {
        text-decoration: none;
        color: $red;
        border-bottom: 3px solid $red;
      }

      &.active {
        color: $red;
      }
    }
  }

  .pagination-wrapper {
    display: block;
    width: 100%;
    padding: 0 40px;
    text-align: center;
  }

  // Show page

  .entry-show {
    margin: 30px auto 10px;

    h1 {
      position: relative;
      margin-top: 0;
    }

    .info {
      position: absolute;
      font-size: 18px;
      bottom: 0;
      right: 0;

      .like {
        cursor: pointer;
        margin-right: 10px;

        &:after {
          display: inline-block;
          font-family: "FontAwesome";
          content: '\f08a';
        }
        &.liked:after {
          font-family: "FontAwesome";
          content: '\f004';
          color: $red;
        }
      }

      .likes {
        display: inline-block;
        min-width: 120px;
        text-align: right;
      }
    }
  }

  .photo {
    position: relative;
    display: block;
    max-width: 100%;
    margin: 0 auto 40px;
    padding: 0 50px;

    @media (max-width: 1260px) {
      padding: 0 10px;
    }
  }

  // Archived entries page

  &.archived-entries {
    padding: 20px 40px;

    h1 {
      font-size: 25px;
      text-align: center;
    }

    .select-period {
      display: block;
      text-align: center;

      a {
        color: $gray;
        padding: 5px;
        margin: 0 10px;
        font-size: 20px;

        &:hover {
          text-decoration: none;
          color: $red;
          border-bottom: 3px solid $red;
        }

        &.active {
          color: $red;
        }

        span {
          font-size: 12px;
        }
      }
    }

    .entries-list {
      margin: 20px 0;
    }

    .pagination-wrapper {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}